
.userTable {
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    overflow-x: auto;
}

.addBtn {
    display: inline-block;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.userTable table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.userTable table thead th {
    background-color: rgb(56, 4, 151);
    color: white;
    padding: 10px;
    text-align: center;
}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
}

.actionButton button {
    border: 0;
    outline: none;
    background-color: red;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actionButton a {
    display: inline-block;
    background-color: green;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .userTable {
        width: 80%;
        padding: 30px;
    }

    .addBtn {
        padding: 10px 25px;
    }
}

@media (min-width: 1024px) {
    .userTable {
        width: 60%;
        padding: 40px;
    }

    .addBtn {
        padding: 10px 30px;
    }
}
